p(id="gitHubNote") Check up on the lastest updates to the Prototype at: 
    a(href="https://github.com/Aristekrat/DonateWare") GitHub

script(type='text/javascript', src="javascripts/donateware-utility.js")