!!! 5
html(lang="en")
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel='stylesheet', href='stylesheets/screen.css')
        link(rel="icon", type="image/x-icon", href="images/favicon.ico")
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        meta(name='robots', content='nofollow')

    body
    div(class='container')
        a(href='/prototype', id='homePageLink')