include header.jade

        a(href="upload", class="dButton", id="uploadButton") Upload
        section(id="mainSearchPanel")
            form(action="/comments", method="get")
                input(id="mainSearchField", autofocus type="text", name="mainSearchBar", placeholder=" Search DonateWare")
                fieldset
                    input(type="radio", name="searchTypes", value="All", checked="true") 
                    span All
                    input(type="radio", name="searchTypes", value="Apps")
                    span Apps
                    input(type="radio", name="searchTypes", value="Music")
                    span Music
                    input(type="radio", name="searchTypes", value="Video")
                    span Video
                    input(type="radio", name="searchTypes", value="DonateWareQs")
                    span Questions
                input(class="dButton", id="mainSearchButton", type="submit", value="Search")

include footer.jade