include header.jade

        title Upload Successful
        meta(name="description", content="You have successfully uploaded your files to DonateWare.") 

    div(id="dSuccessPage") 

        h1 Thank You!
        p Your upload is now being processed and will be ready in just a minute. In the meantime, you can upload something else or head back to DonateWare.

            div
                a(href="/upload") Upload Something Else
                a(href="/prototype") Back to DonateWare

include footer.jade