/*****Prototype*****/

#uploadButton {
    width: 6%;
    float: right;
    margin: -1% 7% 0 0;
    font-size: 0.9em;
    padding: 0.5%;
}

#mainSearchPanel form {
    width: 50%;
    margin: 2% 12% 0 25%;
}

#mainSearchPanel fieldset {
    width: 65%;
    margin: 0 0 0 3%;
    display: inline-block;
    font-size: .8em;
    float: right;
}

#mainSearchPanel fieldset input {
    margin: 1% 0 0 1.5%;
}

#mainSearchPanel fieldset span {
    margin: -90% 0 0 .5%;
    display: inline-block;
}

#mainSearchField {
    border-radius: 10px;
    width: 80%;
    height: 30px;
    margin: 1% 10% 1.5% 10%;
    padding-left: 1%;
}

#mainSearchButton {
    width: 20%;
    margin: 0 0 0 10%;
    display: inline-block;
}

#mainSearchResults {
    width: 70%;
    margin: 1% 15% 0 15%;
}

#mainSearchResults ul {
    list-style-type: none;
}

#mainSearchResults a {
    width: 15%;
    float: left;
    height: 35px;
    text-decoration: none;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: .2% 0 0 .2%;
    color: #d0392a;
}

#mainSearchResults a:hover {
    background-color: #d0392a;
    color: #fff;
    text-shadow: 0 -1px 0 #444;
}

#mainSearchResults a h3 {
    text-align: center;
    margin: 7% 0 0 0;
    font-size: 0.95em;
}

#mainResultsField {
    height: 500px;
    box-shadow: 0 -1px 1px 1px #9f9e9f;
}

.resultsField {
    font-size: 0.9em;
    color: #777;
    margin: 1% 0 1% 1%;
}

#mainUploadForm {
    width: 50%;
    margin: 2% 12% 0 25%;
}

#gitHubNote {
    float: right;
    position: fixed;
    color: #999;
    font-size: .8em;
    right: 40px;
    bottom: 10px; 
}