/* Main Stylesheet for DonateWare. BCase 08/2013 */

/*****Mix-ins*****/ 

@mixin fire-letters {
    color: #d0392a;
    text-shadow: 1px 1px 1px #c4b90c;
}

/*****Base Styling*****/ 

@import "compass/reset";

@font-face {
    font-family: 'cooper_black_fsitalic';
    src: url("../fonts/CooperBlack-Italic-webfont.eot");
    src: url("../fonts/CooperBlack-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CooperBlack-Italic-webfont.woff") format("woff"), url("../fonts/CooperBlack-Italic-webfont.ttf") format("truetype"), url("../fonts/CooperBlack-Italic-webfont.svg#cooper_black_fsitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: cooper_black_fsitalic, arial, sans-serif;
     
}

h1 {
    font-size: 1.8em;
    @include fire-letters;
}

h2 {
    font-size: 1.4em;
    @include fire-letters;
}

h3 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #D0392A;
}
a:hover {
    color: #a61000; 
}

input:focus {
    outline: 0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px #d0392a, 0px 0px 2px #eee;
}

/*****Shared Classes*****/

.container {
    width: 100%;
}

.dButton {
    cursor: pointer;
    background-color: #d0392a;
    box-shadow: 1px 1px 1px #777;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    text-shadow: 0px -1px 0 #777;
}

.dButton:hover {
    background-color: #a61000;
    color: #fff;
}

.dButton:active {
    box-shadow: 0 0 0 #fff;
}

/*****Intro Page*****/

@import "intropage";

/*****Prototype*****/

@import "prototype";

/*****Upload*****/ 

@import "upload";

/*****Media Queries*****
* These evidently cannot be moved to an external file because SASS 
* has a hard time importing media query files. 
*/

@media screen and (max-width: 1720px) and (min-width: 1580px) {
    #bitCoinCallField {
        left: 15%;
    }
}

@media screen and (max-width: 1579px) and (min-width: 1380px) {
    #bitCoinCallField {
        left: 13%;
    }
}

@media screen and (max-width: 1379px) and (min-width: 1300px) {
    #bitCoinCallField {
        left: 12%;
    }
}

@media screen and (max-width: 1299px) and (min-width: 1200px) {
    #bitCoinCallField {
        left: 11%;
    }
    #bitCoinCallField p {
        margin-left: -3%;
    }
    #mainSearchPanel fieldset {
        margin: 0.5% -4% 0 2%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1051 px) {
    #bitCoinCallField {
        left: 10%;
    }
    #bitCoinCallField p {
        margin-left: -3%;
    }
    #mainSearchPanel fieldset {
        margin: 0.5% -4% 0 2%;
    }
}

/***Tablets***/
@media screen and (max-width: 1050px) and (min-width: 600px) {
    //Intropage 

    #introTopPanel, #introMiddlePanel {
        min-height: 500px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 90%;
        height: 250px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #introTopPanel aside {}
    #introMiddlePanel div {
        width: 90%;
        margin: 1% 0 0 1%;
        float: left;
    }
    #introMiddlePanel figure img {
        margin-top: 2.5em !important;
    }
    #introMainCall {
        width: 50%;
        margin: 1.5% 25% 0 25%;
    }

    //Prototype
    #mainSearchPanel form {
        width: 75%;
        margin: 2% 12.5% 0 12.5%;
    }
    #uploadButton {
        width: 10%;
    }
    #mainSearchPanel fieldset {
        width: 70%;
        margin: 0.5% -2% 0 2%;
    }
    #mainSearchResults {
    width: 90%;
    margin: 2% 5% 0 5%;
    }
    #mainSearchResults a {
        width: 25%; 
    }
}

/***Mobile***/
@media screen and (max-width: 599px) and (min-width: 240px) {
    #introTopPanel, #introMiddlePanel {
        min-height: 500px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 98%;
        height: 250px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #bitCoinInfoBawks {
        height: 30%; 
    }
    #bitCoinCallField {
        left: 3%;
    }   #bitCoinCallField p {
        margin-left: 3%;
        width: 100%; 
    }
    #introMiddlePanel div {
        width: 90%;
        margin: 1% 0 0 1%;
        float: left;
    }
    #introMiddlePanel figure img {
        margin: 3em 0 0 0;
        width: 200%;
        float: left;
    }
    #introMainCall {
        width: 75%;
        margin: 1.5% 12.5% 0 12.5%;
    }

    // Prototype 

    #mainSearchPanel form {
        width: 100%;
        margin: 3% 0 0 0;
    }
    #uploadButton {
        width: 16%;
        padding: 1.2%;
        margin: -1.5% 8% 1% 0; 
    }
    #mainSearchPanel fieldset {
        width: 95%;
        margin: 10% 0 -45% 5%;
    }
    #mainSearchResults {
        width: 100%;
        margin: 15% 0 0 0;
    }
    #mainSearchResults a {
        width: 32.5%; 
    }
    #gitHubNote {
        right: 10px;
        bottom: 5px; 
    }
    #mainSearchButton {
        width: 30%;
        padding: 1.2%; 
        margin: 0 0 0 10%; 
    }

    /***Small Mobile***/
}

@media screen and (max-width: 480px) and (min-width: 240px) {
    .introHeaderContainer {}
    .introHeaderContainer p {
        margin: 0.5% 0.5% 0 0.5%;
        width: 98%;
    }
    .introHeaderContainer h1 img {
        width: 100%;
    }
    #introTopPanel {
        min-height: 750px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 98%;
        height: 375px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #bitCoinSocialBar {
        left: 0%;
    }
    #bitCoinTwitter, #bitCoinFB {
        width: 50%;
        height: 25%;
    }
    #bitCoinSocialBar p {
        margin: 22.5% 0 0 0;
    }
    .bitCoinLeftBox {
        float: left;
        width: 65.5%;
        margin: 0;
    }
    #bitCoinInfoBawks p {
        width: 50%;
        text-align: center;
        margin: 3% 0 0 0; 
    }
    #bitCoinInfoBawks p strong {
        font-weight: bold;
        font-size: 1.3em;
    }
    #bitCoinProgressBar {
        width: 59.5%;
        margin: 0% 0 0 5.5%;
    }
    #introMiddlePanel figure img {
        margin: 1em 0 0 0;
    }
    #introMainCall {
        width: 90%;
        margin: 1.5% 5% 0 5%;
    }
}