/* Main Stylesheet for DonateWare. BCase 08/2013 */

/*****Mix-ins*****/ 

@mixin fire-letters {
    color: #d0392a;
    text-shadow: 1px 1px 1px #c4b90c;
}

/*****Base Styling*****/ 

@import "compass/reset";

@font-face {
    font-family: 'cooper_black_fsitalic';
    src: url("../fonts/CooperBlack-Italic-webfont.eot");
    src: url("../fonts/CooperBlack-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CooperBlack-Italic-webfont.woff") format("woff"), url("../fonts/CooperBlack-Italic-webfont.ttf") format("truetype"), url("../fonts/CooperBlack-Italic-webfont.svg#cooper_black_fsitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: cooper_black_fsitalic, arial, sans-serif;
     
}

h1 {
    font-size: 1.8em;
    @include fire-letters;
}

h2 {
    font-size: 1.4em;
    @include fire-letters;
}

h3 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #D0392A;
}
a:hover {
    color: #a61000; 
}

input:focus {
    outline: 0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px #d0392a, 0px 0px 2px #eee;
}

/*****Shared Classes*****/

.container {
    width: 100%;
}

.dButton {
    cursor: pointer;
    background-color: #d0392a;
    box-shadow: 1px 1px 1px #777;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    text-shadow: 0px -1px 0 #777;
}

.dButton:hover {
    background-color: #a61000;
    color: #fff;
}

.dButton:active {
    box-shadow: 0 0 0 #fff;
}

#homePageLink {
    width: 4em; 
    height: 4em; 
    background: url('../images/SmallD.png') 50% no-repeat;
    position: absolute; 
    top: 0%; 
    left: .5%; 
    opacity: .35; 
}   #homePageLink:hover {
    opacity: 1; 
}

/*****Intro Page*****/

@import "intropage";

/*****Prototype*****/

@import "prototype";

/*****Upload*****/ 

@import "upload";

/*****Success Page*****/ 

@import "success";

/*****Media Queries*****
* These evidently cannot be moved to an external file because SASS 
* has a hard time importing media query files. 
*/

@media screen and (max-width: 1720px) and (min-width: 1580px) {
    #bitCoinCallField {
        left: 15%;
    }
}

@media screen and (max-width: 1579px) and (min-width: 1380px) {
    #bitCoinCallField {
        left: 13%;
    }
}

@media screen and (max-width: 1379px) and (min-width: 1300px) {
    #bitCoinCallField {
        left: 12%;
    }
}

@media screen and (max-width: 1299px) and (min-width: 1200px) {
    #bitCoinCallField {
        left: 11%;
    }
    #bitCoinCallField p {
        margin-left: -3%;
    }
    #mainSearchPanel fieldset {
        margin: 0.5% -4% 0 2%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1051 px) {
    #bitCoinCallField {
        left: 10%;
    }
    #bitCoinCallField p {
        margin-left: -3%;
    }
    #mainSearchPanel fieldset {
        margin: 0.5% -4% 0 2%;
    }
}

/***Tablets***/
@media screen and (max-width: 1050px) and (min-width: 600px) {
    //Intropage 

    #introTopPanel, #introMiddlePanel {
        min-height: 500px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 90%;
        height: 250px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #introTopPanel aside {}
    #introMiddlePanel div {
        width: 90%;
        margin: 1% 0 0 1%;
        float: left;
    }
    #introMiddlePanel figure img {
        margin-top: 2.5em !important;
    }
    #introBottomPanel {
        float: left;
        padding-bottom: 10%;
    }
    #introMainCall {
        width: 50%;
        margin: 1.5% 25% 0 25%;
    }

    //Prototype

    #uploadButton {
        width: 12%;
        position: absolute;
        top: 1em;
        right: -1em;
        padding: 1% 0;
    }
    #mainSearchPanel form {
        width: 90%;
        margin: 10% 5% 0 5%;
    }   #mainSearchPanel fieldset {
            width: 70%;
            margin: 0.5% -2% 0 2%;
    }

    #mainSearchResults {
        width: 90%;
        margin: 4% 5% 0 5%;
    }   #mainSearchResults a {
            width: 25%; 
    }
}

/***Mobile***/
@media screen and (max-width: 599px) and (min-width: 240px) {
    #introTopPanel, #introMiddlePanel {
        border-bottom: 0px solid #fff;
        float: left;
        clear: both;
        display: block;
    }
    #introTopPanel div, #introTopPanel aside {
          width: 98%;
    }
    #introTopPanel div {
        margin: 1% 0 -1% 1%;
    }
    #bitCoinCallField {
        left: 10%;
    }   #bitCoinCallField p {
            margin-left: 1%;
            width: 100%;
    }   
    #introMiddlePanel div {
        width: 90%;
        margin: 1% 0 0 1%;
        float: left;
    }
    #introMiddlePanel figure img {
        margin: 3em 0 0 0;
        width: 250%;
        float: left;
    }
    #introMainCall {
        width: 75%;
        margin: 1.5% 12.5% 0% 12.5%;
    }
    #introBottomPanel {
        float: left;
        padding-bottom: 10%;
    }

    // Prototype 

    #mainSearchPanel form {
        width: 100%;
        margin: 14% 0 0 0;
    }
    #uploadButton {
        width: 25%;
        padding: 1.2%;
        position: absolute;
        top: 1.5em;
        right: 0em; 
    }
    #mainSearchPanel fieldset {
        width: 90%;
        margin-left: 5%;
      //  margin: 10% 0 -45% 5%;
    }
    #mainSearchResults {
        width: 100%;
        margin: 10% 0 0 0;
    }   #mainSearchResults a {
            width: 32.5%; 
    }   .dCommentBlock {
            margin: 5% 1% 1% 1%;
    }       .dCommentBlock h2 {
                width: 60%;
    }       .dCommentBlock span {
                width: 35%;
    }       .dCommentBlock aside {
                display: none;
    }       .dCommentBlock p {
                margin: 10% 1% 4% 1%;
    }
    #gitHubNote {
        display: none;
    }
    #mainSearchButton {
        width: 35%;
        padding: 1.2%; 
        margin: 5% 0 0 10%; 
    }
    #dUploadPage {
        width: 95%;
        margin: 2.5%;
    }
}
    
    /***Small Mobile***/

@media screen and (max-width: 480px) and (min-width: 240px) {
    .introHeaderContainer p {
        margin: 0.5% 0.5% 0 0.5%;
        width: 98%;
    }
    .introHeaderContainer h1 img {
        width: 100%;
    }
    #introTopPanel {
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 98%;
        margin-top: 4%;
    }   #introTopPanel div {
            margin: 1% 0 0 1%;
    }   #introTopPanel aside {
            margin: 16% 0 0 0;
    }
    #bitCoinCallField {
        left: 7%;
    } 
    #bitCoinSocialBar {
        left: -1%;
        top: -2em;
    }   #bitCoinTwitter, #bitCoinFB {
            width: 80%;
    }   #bitCoinSocialBar p {
            display: none;
    }
    .bitCoinLeftBox {
        float: left;
        width: 65.5%;
        margin: 0;
    }
    #bitCoinInfoBawks p {
        width: 50%;
        text-align: center;
        margin: 3% 0 0 0; 
    }
    #bitCoinInfoBawks p strong {
        font-weight: bold;
        font-size: 1.3em;
    }
    #bitCoinProgressBar {
        width: 59.5%;
        margin: 0% 0 0 5.5%;
    }
    #introMiddlePanel figure img {
        margin: 1em 0 0 0;
    }
    #introBottomPanel div h3 {
        font-size: 0.95em;
    }
    #introMainCall {
        width: 90%;
        margin: 1.5% 5% 0 5%;
    }   #introMainCall p {
            font-size: 1.2em;
    }

    // Prototype 
    #homePageLink {
        display: none;
    }
    #mainSearchPanel form {
        margin: 18% 0 0 0;
    }
}

@media screen and (max-width: 299px) and (min-width: 200px) {
    #bitCoinCallField {
        padding-top: 30%;
    }
}