/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: 'cooper_black_fsitalic';
    src: url("../fonts/CooperBlack-Italic-webfont.eot");
    src: url("../fonts/CooperBlack-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CooperBlack-Italic-webfont.woff") format("woff"), url("../fonts/CooperBlack-Italic-webfont.ttf") format("truetype"), url("../fonts/CooperBlack-Italic-webfont.svg#cooper_black_fsitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: cooper_black_fsitalic, arial, sans-serif;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #D0392A;
}
a:hover {
    color: #a61000; 
}

input:focus {
    outline: 0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px #d0392a, 0px 0px 2px #eee;
}

/*****Shared Classes*****/

.container {
    width: 100%;
}

.dButton {
    cursor: pointer;
    background-color: #d0392a;
    box-shadow: 1px 1px 1px #777;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    text-shadow: 0px -1px 0 #777;
}

.dButton:hover {
    background-color: #a61000;
    color: #fff;
}

.dButton:active {
    box-shadow: 0 0 0 #fff;
}

/*****Intro Page*****/

.introHeaderContainer {
    text-align: center;
    padding: 1.5% 0 1.5% 0;
    background-color: #f8e3d7;
    color: #c41200;
    text-shadow: 0px 1px 1px #f3730c;
    box-shadow: 0px 1px 3px #999;
    margin-top: 0;
}

.introHeaderContainer p {
    margin: 0.5% 0 0 0;
}

.introHeaderContainer h1 {
    margin: 0 0 0 0;
}

#introPage section {
    height: 35%;
    min-height: 275px;
    line-height: 125%;
    width: 100%;
}

#introPage section h2 {
    margin: 1% 0 2.5% 0;
    color: #d0392a;
    text-shadow: 1px 1px 1px #c4b90c;
}

.introTextPanel p {
    line-height: 150%;
}

#introTopPanel {
    border-bottom: 1px solid #eee;
}

#introTopPanel div {
    width: 40%;
    float: left;
    margin: 1% 0.5% 0 9%;
    padding-right: 1%;
}

#introTopPanel aside {
    float: left;
    margin: 1% 9.5% 0.5% 0.5%;
    width: 37%;
    height: 100%;
    min-height: 270px;
}

#introTopPanel aside span {
    display: inline-block;
    margin: 0 0.5% 0 0.5%;
}

#bitCoinSocialBar {
    width: 30%;
    height: 270px;
    float: right;
    position: relative;
    left: -7%;
}

#bitCoinTwitter, #bitCoinFB {
    width: 50%;
    height: 30%;
    margin: 8% 5% 0 20% !important;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0 #888;
    float: left;
    position: relative;
}

#bitCoinTwitter {
    background: #f8e3d7 url("../images/twitter.png") 50% no-repeat;
}

#bitCoinFB {
    background: #f8e3d7 url("../images/facebook.png") 50% no-repeat;
}

#bitCoinTwitter:hover, #bitCoinFB:hover {
    background-color: #f6be9d;
}

#bitCoinSocialBar p {
    float: left;
    color: #999;
    font-size: 0.9em;
    margin: 8.5% 0 0 0;
}

.bitCoinLeftBox {
    float: left;
    width: 65.5%;
    margin: 0;
}

#bitCoinInfoBawks {
    height: 40%;
}

#bitCoinInfoBawks p {
    width: 45%; // Once a time limit is re-instituted I will need to change this. 
    float: left;
    display: inline-block;
    text-align: center;
    margin: 3% 0 10% 0;
    color: #444;
}

#bitCoinInfoBawks p strong {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 0px 1px 0px #999;
    color: #333;
}

#bitCoinProgressBar {
    height: 5%;
    width: 50%;
    border-radius: 15px;
    color: #D0392A;
    background-color: #f8e3d7;
    margin: 0 0 0 5.5%;
    min-height: 15px;
}

progress::-webkit-progress-bar {
    background: #f8e3d7;
}

progress::-webkit-progress-value {
    background: #D0392A;
}

progress::-moz-progress-bar {
    background: #D0392A;
}

#bitCoinCallField {
    width: 51%;
    float: left;
    position: relative;
    left: 17%;
    padding-top: 5.5%;
}

#bitCoinCallField p {
    color: #999;
    text-align: left;
    font-size: 0.9em;
}

#introMiddlePanel {}

#introMiddlePanel div {
    width: 40%;
    float: right;
    margin: 1% 9% 0 0;
    padding-left: 1%;
}

#introMiddlePanel figure {
    width: 33% !important;
    margin: 0 0 0 17%;
}

#introMiddlePanel figure img {
    margin-top: 1.2em;
}

#introBottomPanel {
    background-color: #f9f9e6;
    box-shadow: 0px 2px 3px 2px #000;
    position: relative;
    z-index: 10;
}

#introBottomPanel div {
    width: 100%;
    padding: 1% 0 0 0;
}

#introBottomPanel div h3 {
    width: 33%;
    float: left;
    text-align: center;
    color: #d0392a;
    text-shadow: 1px 1px 1px #c4b90c;
}

#introMainCall {
    width: 30%;
    margin: 1.5% 35% 0 35%;
    height: 25%;
    min-height: 100px;
    border-radius: 30px;
    background-color: #c41200;
    box-shadow: 1px 2px 2px 1px #777;
    display: inline-block;
}

#introMainCall p {
    text-align: center;
    margin: 1.8em 0 0 0;
    color: #fff;
    font-size: 1.4em;
    text-shadow: -1px -1px 1px #555;
}

#introMainCall:hover {
    background-color: #a61000;
}

#introMainCall:active {
    box-shadow: 0 0 0 #fff;
}

/*****Prototype*****/

#uploadButton {
    width: 6%;
    float: right;
    margin: -1% 7% 0 0;
    font-size: 0.9em;
    padding: 0.5%;
}

#mainSearchPanel form {
    width: 50%;
    margin: 2% 12% 0 25%;
}

#mainSearchPanel fieldset {
    width: 65%;
    margin: 0 0 0 3%;
    display: inline-block;
    font-size: .8em;
    float: right;
}

#mainSearchPanel fieldset input {
    margin: 1% 0 0 1.5%;
}

#mainSearchPanel fieldset span {
    margin: -90% 0 0 .5%;
    display: inline-block;
}

#mainSearchField {
    border-radius: 10px;
    width: 80%;
    height: 30px;
    margin: 1% 10% 1.5% 10%;
    padding-left: 1%;
}

#mainSearchButton {
    width: 20%;
    margin: 0 0 0 10%;
    display: inline-block;
}

#mainSearchResults {
    width: 70%;
    margin: 1% 15% 0 15%;
}

#mainSearchResults ul {
    list-style-type: none;
}

#mainSearchResults a {
    width: 15%;
    float: left;
    height: 35px;
    text-decoration: none;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: .2% 0 0 .2%;
    color: #d0392a;
}

#mainSearchResults a:hover {
    background-color: #d0392a;
    color: #fff;
    text-shadow: 0 -1px 0 #444;
}

#mainSearchResults a h3 {
    text-align: center;
    margin: 7% 0 0 0;
    font-size: 0.95em;
}

#mainResultsField {
    height: 500px;
    box-shadow: 0 -1px 1px 1px #9f9e9f;
}

.resultsField {
    font-size: 0.9em;
    color: #777;
    margin: 1% 0 1% 1%;
}

#mainUploadForm {
    width: 50%;
    margin: 2% 12% 0 25%;
}

#gitHubNote {
    float: right;
    position: fixed;
    color: #999;
    font-size: .8em;
    right: 40px;
    bottom: 10px; 
}

/*****Media Queries*****/

@media screen and (max-width: 1720px) and (min-width: 1580px) {
    #bitCoinCallField {
        left: 15%;
    }
}

@media screen and (max-width: 1579px) and (min-width: 1380px) {
    #bitCoinCallField {
        left: 13%;
    }
}

@media screen and (max-width: 1379px) and (min-width: 1300px) {
    #bitCoinCallField {
        left: 12%;
    }
}

@media screen and (max-width: 1299px) and (min-width: 1200px) {
    #bitCoinCallField {
        left: 11%;
    }
    #bitCoinCallField p {
        margin-left: -3%;
    }
    #mainSearchPanel fieldset {
        margin: 0.5% -4% 0 2%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1051 px) {
    #bitCoinCallField {
        left: 10%;
    }
    #bitCoinCallField p {
        margin-left: -3%;
    }
    #mainSearchPanel fieldset {
        margin: 0.5% -4% 0 2%;
    }
}

/***Tablets***/
@media screen and (max-width: 1050px) and (min-width: 600px) {
    //Intropage 

    #introTopPanel, #introMiddlePanel {
        min-height: 500px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 90%;
        height: 250px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #introTopPanel aside {}
    #introMiddlePanel div {
        width: 90%;
        margin: 1% 0 0 1%;
        float: left;
    }
    #introMiddlePanel figure img {
        margin-top: 2.5em !important;
    }
    #introMainCall {
        width: 50%;
        margin: 1.5% 25% 0 25%;
    }

    //Prototype
    #mainSearchPanel form {
        width: 75%;
        margin: 2% 12.5% 0 12.5%;
    }
    #uploadButton {
        width: 10%;
    }
    #mainSearchPanel fieldset {
        width: 70%;
        margin: 0.5% -2% 0 2%;
    }
    #mainSearchResults {
    width: 90%;
    margin: 2% 5% 0 5%;
    }
    #mainSearchResults a {
        width: 25%; 
    }
}

/***Mobile***/
@media screen and (max-width: 599px) and (min-width: 240px) {
    #introTopPanel, #introMiddlePanel {
        min-height: 500px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 98%;
        height: 250px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #bitCoinInfoBawks {
        height: 30%; 
    }
    #bitCoinCallField {
        left: 3%;
    }   #bitCoinCallField p {
        margin-left: 3%;
        width: 100%; 
    }
    #introMiddlePanel div {
        width: 90%;
        margin: 1% 0 0 1%;
        float: left;
    }
    #introMiddlePanel figure img {
        margin: 3em 0 0 0;
        width: 200%;
        float: left;
    }
    #introMainCall {
        width: 75%;
        margin: 1.5% 12.5% 0 12.5%;
    }

    // Prototype 

    #mainSearchPanel form {
        width: 100%;
        margin: 3% 0 0 0;
    }
    #uploadButton {
        width: 16%;
        padding: 1.2%;
        margin: -1.5% 8% 1% 0; 
    }
    #mainSearchPanel fieldset {
        width: 95%;
        margin: 10% 0 -45% 5%;
    }
    #mainSearchResults {
        width: 100%;
        margin: 15% 0 0 0;
    }
    #mainSearchResults a {
        width: 32.5%; 
    }
    #gitHubNote {
        right: 10px;
        bottom: 5px; 
    }
    #mainSearchButton {
        width: 30%;
        padding: 1.2%; 
        margin: 0 0 0 10%; 
    }

    /***Small Mobile***/
}

@media screen and (max-width: 480px) and (min-width: 240px) {
    .introHeaderContainer {}
    .introHeaderContainer p {
        margin: 0.5% 0.5% 0 0.5%;
        width: 98%;
    }
    .introHeaderContainer h1 img {
        width: 100%;
    }
    #introTopPanel {
        min-height: 750px !important;
        border-bottom: 0px solid #fff;
    }
    #introTopPanel div, #introTopPanel aside {
        width: 98%;
        height: 375px;
    }
    #introTopPanel div {
        margin: 1% 0 0 1%;
    }
    #bitCoinSocialBar {
        left: 0%;
    }
    #bitCoinTwitter, #bitCoinFB {
        width: 50%;
        height: 25%;
    }
    #bitCoinSocialBar p {
        margin: 22.5% 0 0 0;
    }
    .bitCoinLeftBox {
        float: left;
        width: 65.5%;
        margin: 0;
    }
    #bitCoinInfoBawks p {
        width: 50%;
        text-align: center;
        margin: 3% 0 0 0; 
    }
    #bitCoinInfoBawks p strong {
        font-weight: bold;
        font-size: 1.3em;
    }
    #bitCoinProgressBar {
        width: 59.5%;
        margin: 0% 0 0 5.5%;
    }
    #introMiddlePanel figure img {
        margin: 1em 0 0 0;
    }
    #introMainCall {
        width: 90%;
        margin: 1.5% 5% 0 5%;
    }
}