#dSuccessPage {
    width: 75%; 
    margin: 2% 12.5% 0 12.5%; 
}   #dSuccessPage h1 {
    margin: 2% 0 2% 0; 
}   #dSuccessPage p {
    width: 70%; 
    line-height: 150%; 
}   #dSuccessPage a {
    float: left;  
    margin: 2% 0 0 5%; 
    text-shadow: -1px -1px 0 #eee; 
    color: #999; 
    font-family: cooper_black_fsitalic, arial, sans-serif;
    font-size: 1.5em; 
}   #dSuccessPage a:hover {
    color: #444; 
}
